@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: theme('fontFamily.body');
}

.bg-grid {
  background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.08) 1px, transparent 0);
  background-size: 24px 24px;
}